#include "resource.h"
#include "windows.h"

MAINICON ICON "Dialog.ico"
IDI_TREE ICON "Dialog.ico"

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

IDD_DIALOG DIALOGEX 0, 0, 350, 200
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_APPWINDOW
CAPTION "Dialog"
FONT 8, "Segoe UI", 400, 0, 0x0
BEGIN
    GROUPBOX "Settings",IDG_SETTINGS,7,7,104,108
    CONTROL  "Offset:",IDL_OFFSET,"Static",SS_SIMPLE | SS_NOPREFIX,13,22,24,8
    CONTROL  "",IDC_OFFSET,"msctls_trackbar32",TBS_AUTOTICKS | TBS_TOOLTIPS | WS_TABSTOP,18,32,83,14
    CONTROL  "Length:",IDL_LENGTH,"Static",SS_SIMPLE | SS_NOPREFIX,13,52,27,8
    CONTROL  "",IDC_LENGTH,"msctls_trackbar32",TBS_AUTOTICKS | TBS_TOOLTIPS | WS_TABSTOP,18,62,83,14
    CONTROL  "Angle:",IDL_ANGLE,"Static",SS_SIMPLE | SS_NOPREFIX,13,82,23,8
    CONTROL  "",IDC_ANGLE,"msctls_trackbar32",TBS_AUTOTICKS | TBS_TOOLTIPS | WS_TABSTOP,18,92,83,14
    GROUPBOX "Color",IDG_COLOR,7,117,104,77
    CONTROL  "&Cyan",IDC_CYAN,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,14,131,33,10
    CONTROL  "&Magenta",IDC_MAGENTA,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,14,146,47,10
    CONTROL  "&Yellow",IDC_YELLOW,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,14,161,37,10
    CONTROL  "Blac&k",IDC_BLACK,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,14,176,33,10
    GROUPBOX "Preview",IDG_PREVIEW,118,7,224,187
END

#endif

IDR_ACCEL ACCELERATORS
BEGIN
    "^C",IDA_COPY,ASCII,NOINVERT
    "^W",IDA_EXIT,ASCII,NOINVERT
END
