#include "resource.h"
#include "winres.h"

MAINICON ICON "Dialog.ico"
IDI_TREE ICON "Dialog.ico"

IDD_WINDOW DIALOGEX 200,150,350,200
STYLE DS_SETFONT | DS_MODALFRAME | WS_SYSMENU | WS_CAPTION
CAPTION "Window"
FONT 8,"Segoe UI",400,0
BEGIN
    GROUPBOX "Settings",0x0,7,7,104,108
    LTEXT    "Offset:",0x1,13,22,29,8
    CONTROL  "",IDC_OFFSET,"msctls_trackbar32",TBS_AUTOTICKS | TBS_TOOLTIPS,18,32,83,14
    LTEXT    "Length:",0x2,13,22+30,27,8
    CONTROL  "",IDC_LENGTH,"msctls_trackbar32",TBS_AUTOTICKS | TBS_TOOLTIPS,18,32+30,83,14
    LTEXT    "Angle:",0x3,13,22+60,22,8
    CONTROL  "",IDC_ANGLE,"msctls_trackbar32",TBS_AUTOTICKS | TBS_TOOLTIPS,18,32+60,83,14
    GROUPBOX "Preview",0x4,118,7,224,187
    GROUPBOX "Color",0x5,7,117,104,77
    CONTROL  "Cyan",IDC_CYAN,"Button",BS_AUTORADIOBUTTON,14,131,28,10
    CONTROL  "Magenta",IDC_MAGENTA,"Button",BS_AUTORADIOBUTTON,14,131+15,42,10
    CONTROL  "Yellow",IDC_YELLOW,"Button",BS_AUTORADIOBUTTON,14,131+30,33,10
    CONTROL  "Black",IDC_BLACK,"Button",BS_AUTORADIOBUTTON,14,131+45,29,10
END

IDR_ACCEL ACCELERATORS 
BEGIN
    "^C",IDA_COPY,ASCII
    "^W",IDA_EXIT,ASCII
END